@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.flex-container{
  /*Create flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */

   flex-flow: row wrap;
   

   /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 3em;
  
}

.experienceContainer{
  margin-left: 35rem;
  color: black;
  align-items: center;
  margin-bottom: 5rem;
}

.offsetTitle{
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-around;
}

.experienceCard{
  margin-top: 5rem;
}

.home, .projects, .workexp, .aboutme, .skills{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.projectsTwo{ 
  display: flex; 
  justify-content: center;
  margin-bottom: 3rem;
  
}

.beginner, .escape{ 
  display: flex; 
  justify-content: center;
  font-size: 3rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.underlineTwo {
  width: 6rem;
  height: 0.25rem;
  margin-bottom: 3rem;
  background: black;
  margin-left: auto;
  margin-right: auto;
}


.firstSentence {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.homeText {
  display: flex;
  height: 30vh;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-size: 3rem;
}

.homeTextTwo{
  display: flex;
  height: 50vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.smallText{
  display: flex;
  height: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.homeTextThree{
  display: flex;
  height: 15vh;
  margin-top: -2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.spacedOut {
  margin-left: .5rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.app{
  display: flex;
  overflow: hidden;
}

.aqua {
  color: #03bb85;
}

.spacedOut:hover{
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.btnPlacement{
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}

.arrow{
  margin-top: 0.5rem;
}

.projBtn{
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: -10rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: 0.3s;
  animation: ease-in;
}

.projBtn:hover{
  transform: scale(1.5);
}

body{
  background-color: #6082B6;
}

.roundImg{
  display: flex;
  justify-content: center;
}

.york{
  height: auto; 
  width: auto; 
  margin-bottom: 0rem;
  transform: scale(0.2, 0.2);
}

.displayLeft{
  display: flex;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

.displayRight{
  display: flex;
  /* margin-right: 5rem;
  margin-bottom: 3rem; */
  margin-left: 45rem;
  margin-right: 5rem;
  align-content: flex-end;
  margin-bottom: 3rem;
}

.textRight{
  display: flex;
  margin: auto;
  margin-left: 5rem;
  font-size: 2rem;
  /* margin-bottom: 35rem; */
}

.textLeft{
  display: flex;
  text-align: left;
  margin-right: 3rem;
  font-size: 2rem;
}

.tourismText{
  display: flex;
  margin: auto;  
}

.uhn{
  height: auto; 
  width: auto; 
  margin-bottom: -3rem;
  background-color: transparent;
  transform: scale(1, 1);
}

.block{
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  width: 70%;
  height: 70%;
  padding: auto;
  border: none;
  background-color: #2c61b1;
  justify-content: center;
  align-items: center;
}

.blockText{
  color: white;
  text-align: center;
}

/* Added CSS from previous project */

.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.single-tour {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.single-tour:hover {
  box-shadow: var(--dark-shadow);
}
.single-tour img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.tour-info h4 {
  margin-bottom: 0;
}
.single-tour button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}
.tour-price {
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}
.single-tour footer {
  padding: 1.5rem 2rem;
}
.single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}


